@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2 style="color:#0063a4;">About Us</h2>
<p>From our innovative corporate travel solutions, to our expertise in planning unforgettable vacations, Travel and Transport creates one-of-a-kind experiences for our partners. Success to us means doing what it takes to earn your business every day through passion, innovation and a steadfast commitment to our customers’ needs.</p>