@page
@model ContactModel
@{
	ViewData["Title"] = "Contact Us";
}
<h2 style="color:#0063a4;">Contact Us</h2>
<p>We want to hear from you. Contact us at <strong style="color:#006dab">800.228.2545</strong> to speak to one of our professionals about corporate travel, events, loyalty, vacations or careers.</p>

<p>Any suggestions or comments you have would be greatly appreciated. For more information on any topic, choose an option from the menu below to get started. <a href="https://www.travelandtransport.com/about-us/our-locations/" />Click here for a list of our locations</a>.</p>