@page
@model IndexModel
@{
	ViewData["Title"] = "Book your trip";
}
<h2>@ViewData["Title"]</h2>
<hello hello-text="Mr. Gabertooth Tiger"></hello>
<form method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<label asp-for="FirstName"></label>
			</div>
			<div class="col-sm-6">
				<input id="departureDate" asp-for="FirstName" />
				<span class="text-danger" asp-validation-for="FirstName"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<label asp-for="LastName"></label>
			</div>
			<div class="col-sm-6">
				<input id="departureDate" asp-for="LastName" />
				<span class="text-danger" asp-validation-for="LastName"></span>
			</div>
		</div>
		<div class="form-group">
			&nbsp;
		</div>
		<label>Select Dates for travel</label>
		<div class="row">
			<div class="col-sm-3">
				<label asp-for="DateRange.StartDate"></label>
			</div>
			<div class="col-sm-6">
				<input id="departureDate" asp-for="DateRange.StartDate" />
				<span class="text-danger" asp-validation-for="DateRange.StartDate"></span>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3">
				<label asp-for="DateRange.EndDate"></label>
			</div>
			<div class="col-sm-6">
				<input id="returnDate" asp-for="DateRange.EndDate" />
				<span class="text-danger" asp-validation-for="DateRange.EndDate"></span>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3">
				<input id="submit" type="submit" />
			</div>
		</div>

	</div>
</form>