@page
@model RazorGabertooth.Pages.ConfirmationModel
@{
    ViewData["Title"] = "Confirmation";
}

<h2>Congratulations, your trip has been booked!</h2>
<p>Your departure is confirmed for @Model.DepartureDate.ToShortDateString().</p>
<p>You return is confirmed for @Model.ReturnDate.ToShortDateString().</p>
<p>Click <a asp-page="/Index">here</a> to book another trip.</p>
<p>Please <a asp-page="/Contact">contact us</a> if you have any questions.</p>


